<div class="navbar">
    <div class="logo">
        <span>Leandro Reis</span>
    </div>
    <div class="side">
        <ul>
            <li><a href="#">{{'About' | translate }}</a></li>
            <li><a href="#">{{'Portfolio' | translate}}</a></li>
            <li><a href="#">{{'Resume' | translate}}</a></li>
            <li><a href="#">{{'Contact' | translate}}</a></li>
        </ul>
        <select [(ngModel)]="selectedLanguage" (change)="onLanguageChange()">
            <option value="en">EN</option>
            <option value="pt">PT</option>
        </select>
    </div>
</div>
